
.App{
  background-color: #1a1a1a;

}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

main {
  padding: 20px;
  text-align: center;
}

section {
  margin: 50px 0;
}

.header {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;

}


/* Основная гора */
.mountain {
  position: absolute;
  width: 800px; /* Фиксированная ширина */
  height: auto; 
  bottom: -35vw;
  right: -10px;
  z-index: 1;
}

/* Ближняя гора */
.small-stone {
  position: absolute;
  width: 400px; /* Фиксированная ширина */
  height: auto;
  bottom: -25vw;
  z-index: 2;
}

/* Для адаптации на планшетах (ширина экрана < 1024px) */
@media (max-width: 1224px) {
  .mountain {
    width: 600px;
    bottom: -40vw;
  }

  .small-stone {
    width: 300px;
    bottom: -30vw;
  }
}

/* Для адаптации на смартфонах (ширина экрана < 768px) */
@media (max-width: 768px) {
  .mountain {
    width: 500px;
    bottom: -45vw;
  }

  .small-stone {
    width: 250px;
    bottom: -35vw;
  }
}

/* Для адаптации на очень маленьких экранах (ширина экрана < 480px) */
@media (max-width: 480px) {
  .mountain {
    width: 400px;
    bottom: -50vw;
  }

  .small-stone {
    width: 200px;
    bottom: -40vw;
  }
}





.bg-home {
  position: absolute;
  width:100vw;
  height: 100%;
  top: 0;
}

/* Общие стили */


/* Стили для навигационной панели */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #aaa;
}

/*.carousel-container {
  padding: 2rem 0 0 ;
  position: relative;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.carousel::-webkit-scrollbar {
  display: none; 
}*/

/*.product-card,
.more-card {
  flex: 0 0 200px; 
  height: 350px;
  padding: 0.5rem;
  border: 0.5px solid #1a1a1a;
  border-width: 0 0.5px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
}

.more-card {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
*/
/*.more-card:hover {
  background-color: #444;
  color: #ddd;
}*/

/*.product-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.product-name {
  font-size: 1.1rem;
  margin: 0.5rem 0 0 ;
}

.product-price {
  color: #aaa;
  font-size: 1rem;
  margin: 0;

}*/

.more-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s ease;
}

.more-text:hover {
  color: #fff;
}


/*линии от человека в одежде горпкор*/

.container {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  padding: 0 30% 0 0 ;
  position: relative;
}

.person {
  max-width: 1000px;
  z-index: 1;
}

.line {
  position: absolute;
  width: 2px;
  height: 100px;
  background-color: #d0d0d0;
  transform-origin: top;
  transition: background-color 0.3s ease;
  pointer-events: none;
}
.point {
  width: 5px;
  border-radius: 10px;


}

.price {
  position: absolute;
  padding: 15px 25px;
  border: 2px solid white;
  color: #d0d0d0;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.price:hover {
  color: #fff;
  background-color: #444;
}

.price:hover + .line,
.line:hover {
  background-color: #fff;
}

/*opium*/
.opium-gradient-div {
  position: relative;
  padding-top: 100px;
}
.opium-gradient-div:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 200px, rgba(0, 0, 0, 1) 100%);

}

/* Итоговое объединение в один цвет */
.gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, #1a1a1a 100%);
  z-index: 5;
}


.product-container {
  position: relative;
  background: #0d0d0d;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 900px;
}

.product-card {
  background: transparent;
  text-align: center;
  color: white;
  font-family: "Garamond", serif;
  font-size: 18px;
}

.product-card img {
  width: 100%;
  max-width: 250px;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover img {
  transform: scale(1.05);
}

.scroll-circle {
  position: absolute;
  bottom: 50px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.scroll-circle:hover {
  background: rgba(255, 255, 255, 0.3);
}
