body{
  background-color: #0d0d0d;
}
.container {
  display: flex;
  gap: 20px;
  padding: 16px;
}


/* Левая панель с фильтрами */
.container .sidebar {
  margin-bottom: auto;
  width: 250px;
  height: 100%;
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar h3 {
  margin-bottom: 8px;
  font-size: 18px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.price-range {
  width: 100%;
}

.product-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-checkbox input {
  transform: scale(1.2);
}

/* Поле поиска */
.search-input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  width: 100%;
  font-size: 14px;
}

.search-input:focus {
  outline: none;
  border: 1px solid white;
}

.products-container {
  overflow-y: scroll !important; 
  display: grid;
  grid-template-columns: 25% minmax(600px, 800px) auto; /* Соотношения ширины частей */
  gap: 16px;
  width: 100%;
  padding: 16px;
}

/* Первая часть (слева) */
.products-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 грида */
  grid-template-rows: repeat(2, 500px);
  gap: 15px;
}

/* Вторая часть (центр) */
.products-center {
  display: grid;
  grid-template-row: repeat(auto-fit, minmax(600px, auto)); /* 1 грид */
  gap: 8px;



}

/* Третья часть (справа) */
.products-right {
  display: grid;
  grid-template-columns: repeat(3, max(250px)); /* 3 грида */
  gap: 8px;
}

/* Карточки товаров */
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;  /* Заполняет всю ячейку */
  height: 100%; /* Заполняет всю ячейку */
  background-color: transparent;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
}

/* Размеры товаров */
/*.products-left .product-card {
}*/

.products-center .product-card {
  max-height: 800px; /* Квадратные */
  max-width: 800px; /* Квадратные */
}

.products-right .product-card {
  height: 250px; /* Маленькие квадратные */
  width: 250px; /* Маленькие квадратные */
}

/* Общие стили */
.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
