
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

main {
  padding: 20px;
  text-align: center;
}

section {
  margin: 50px 0;
}

.header {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerDiv {
  position: relative;
  width: 100vw;
  height: 850px;
}

.mountain {
  position: absolute;
  width: 40%;
  bottom: -35vw;
  right: -10px;

}

.small-stone {
  bottom: -25vw;
  width: 20%;
}


.bg-home {
  position: absolute;
  width:100vw;
  height: 100%;
  top: 0;
  z-index: -1;
}

/* Общие стили */


/* Стили для навигационной панели */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #aaa;
}

/* Стили для блока товаров */
.carousel-container {
  padding: 2rem 0 0 ;
  position: relative;
}

.carousel {
  display: flex;
  overflow-x: auto;
  /*gap: 1rem;*/
  scrollbar-width: none; /* Скрываем скроллбар для Firefox */
  -ms-overflow-style: none; /* Скрываем скроллбар для IE */
}

.carousel::-webkit-scrollbar {
  display: none; /* Скрываем скроллбар для Chrome/Safari */
}

.product-card,
.more-card {
  flex: 0 0 200px; /* Фиксированная ширина */
  height: 350px;
  border: 0.5px solid #1a1a1a;
  border-width: 0 0.5px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
}

.more-card {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/*.more-card:hover {
  background-color: #444;
  color: #ddd;
}*/

.product-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.product-name {
  font-size: 1.1rem;
  margin: 0.5rem 0 0 ;
}

.product-price {
  color: #aaa;
  font-size: 1rem;
  margin: 0;

}

.more-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s ease;
}

.more-text:hover {
  color: #fff;
}


/*линии от человека в одежде горпкор*/

.container {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  padding: 0 30% 0 0 ;
  position: relative;
}

.person {
  max-width: 1000px;
  z-index: 1;
}

.line {
  position: absolute;
  width: 2px;
  height: 100px;
  background-color: #d0d0d0;
  transform-origin: top;
  transition: background-color 0.3s ease;
  pointer-events: none;
}
.point {
  width: 5px;
  border-radius: 10px;


}

.price {
  position: absolute;
  padding: 15px 25px;
  border: 2px solid white;
  color: #d0d0d0;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.price:hover {
  color: #fff;
  background-color: #444;
}

.price:hover + .line,
.line:hover {
  background-color: #fff;
}

/*opium*/
.opium-gradient-div {
  position: relative;
  padding-top: 100px;
}
.opium-gradient-div:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 200px, rgba(0, 0, 0, 1) 100%);

}